.input {
    background-color: #faeaf5;
    height: 200px;
    width: 400px;
    margin: 20px;
    padding: 20px;
  
  }
  .input .pokedex {
    font-weight: bold;
    color: #a7b154
  }
  .input #submit-button {
    margin: 2px;
    width: 50px;
    height: 50px;
  }